<%= content_for :head do %>
  <title>Privacy Policy - Remedica</title>
<% end %>
<body class="inner_body">
	<header class="inner">
        <div class="header_container">
            <div class="row logo_row">
                <div class="col-md-3 col-sm-3 col-xs-3 logo_left">
                    <div class="logo">
                        <a href="http://www.remedicahealth.com"><%= image_tag "remedica_logo.png" %></a>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-9 logo_right">
                    <div class="menu">
                        <ul>
                            <li><a href="#" data-toggle="modal" data-target="#myModal" class="popupopen">Contact us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
   	<div class="inner_content">
	    <div class="title">
	    	<div class="container">
	    		<div class="row">
	    			<h1>Privacy Policy</h1>
	    		</div>
	    	</div>
	    </div>
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-12 box">
	    			<p>Remedica (URL: <a href="http://remedicahealth.com/" target="_blank">www.remedicahealth.com</a>), a platform for patients to seek doctors' opinions, advice, and treatment plans for medical conditions, is owned and operated by Remedy Technologies Private Limited (“Remedica” or “We” and their connotations). Remedica respects the privacy of its users and guests (“User” or “you” and their connotations) and has developed this Privacy Policy to demonstrate its commitment to protect your privacy. </p>
                    <p>This Privacy Policy informs you of our policies and practices regarding the collection and use of information you submit to us or which we collect through our platform. By using our Website or Services, you are accepting the Privacy Policy and the <a href="/consult/terms_of_use">Terms of Use</a> and you expressly consent to our use and disclosure of your information in accordance with this Privacy Policy. Please read this Privacy Policy and our Terms of Use carefully when using our mobile application or website (together “Website”) and / or when using our medical consultation services through the Website or through any other medium (“Services”), and if you do not agree to any of these terms, please do not use our Website or Services. Wherever you reside or from whichever country you submit your information, you consent to our use of your information, consistent with this Privacy Policy, in the territories where Remedica provides its Services.</p>
	    		</div>

	    		<div class="col-md-12 box">
	    			<h2><span><i>1</i></span>Information We Collect</h2>
                    <p>In order to provide Services, Remedica requires certain user information and may obtain the same through user provided data or automatic data collection.</p>

	    			<ol class="list_style">
                        <li><span>Remedica collects information that may be used to identify you (“Personal Information”) including, but not limited to, (i) name, e-mail ID, photograph, location and other contact information (ii) age, gender and other demographics (iii) details regarding your physical / mental condition, and any infirmities or illness you suffer, and all the information in relation thereto (you may choose to submit only the information which is mandatorily required).</span></li>
                        <li><span>Remedica also collects certain information either when you provide it through the use of the Website or Services and / or automatically as you navigate through the Website (which may include usage details, IP address, device ID and type, your browser type and language, the operating system used by your device, access times, and information collected through cookies, web beacons and other tracking technologies). You agree that we may use such information to do internal research on our Users' demographics and medical history to better understand, protect and serve our Users.</span></li>
                        <li><span>We also collect information from your user ID associated with any social media account (such as your Facebook and Google account) that users use to sign into the Website or connect with or use of ourServices. When you sign in with your social media account information, or otherwise connect to your social media account with our Website, you consent to our collection, storage, and use, in accordance with this Privacy Policy, of the information that you make available to us through the social media interface. This includes, without limitation, any information that you have made public through your social media account, information that the social media service shares with us or information that is disclosed during the sign-up and sign-in processes. </span></li>
                        <li><span>If another User allows us to collect information from his or her device phonebook—and you are one of that User’s contacts—we may combine the information we collect from that User’s phonebook with other information we have collected about you. We may also obtain information from other sources and combine that with the information we collect through Remedica.</span></li>
                        <li><span>We use data collection devices such as "cookies" on certain pages of the Website to help analyze our web page flow, measure promotional effectiveness, and promote trust and safety. Cookies are small files placed on your hard drive that assist us in providing our Services. We offer certain features that are only available through the use of a cookie. Cookies can also help us provide information that is targeted to your interests. </span></li>
                    </ol>
	    		</div>

	    		<div class="col-md-12 box">
	    			<h2><span><i>2</i></span>Use of Information</h2>
                    <p>Remedica collects and stores information provided by you from time to time. This allows us to provide services and features that most likely meet your needs, and:</p>
	    			<ul class="list_style">
                        <li><span>To enable you to avail our Services and ensure efficient customer care experience and develop new features;</span></li>
                        <li><span>To maintain the operation of theWebsite including but not limited to facilitating payments, sending receipts, enabling communication of patients with the doctors and other medical professionals;</span></li>
                        <li><span>To notify the necessary information related to the Website and Services and your user account on the Website from time to time;</span></li>
                        <li><span>To comply with applicable laws, rules and regulations;</span></li>
                        <li><span>To provide you with information and offers on Services, updates, promotions, related, affiliated or associated service providers and partners that we believe would be of interest to you;</span></li>
                        <li><span>To maintain records and provide you with an efficient, safe and customized experience while using the Website;</span></li>
                        <li><span>To analyze overall trends to helps us improve our Website and Services;</span></li>
                        <li><span>Allow you to participate in interactive features offered through the Website;</span></li>
                        <li><span>Provide personalized content and information to you and others, which could include online ads or other forms of marketing;</span></li>
                        <li><span>Verify your identity and prevent fraud or other unauthorized or illegal activity; and</span></li>
                        <li><span>In any other way consistent with this Privacy Policy and our Terms of Use.</span></li>
                        <p>Additionally,</p>
                        <li><span>Remedica reserves the right to use or disclose your Personal Information in response to subpoenas, court orders, warrants, or legal process, or to otherwise establish or exercise our legal rights or defend against legal claims or in the event you violate or breach an agreement with us. We will use and disclose your PersonalInformation if we believe you will harm the property or rights of Remedica, its owners, or those of Remedica’s other users. Finally, we will use or disclose your Personal Information if we believe it is necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person or property, violations of Remedica’s other policies, or as otherwise required by law when responding to subpoenas, court orders and other legal processes.</span></li>
                        <li><span>If we believe that disclosure is necessary or appropriate to protect our rights, property, or safety, our Users or others, we may in good faith share information with other companies and organizations for the purposes of fraud protection and credit risk reduction.</span></li>
                        <li><span>You agree that we may use Personal Information about you to improve our marketing and promotional efforts, to analyze site usage, improve the Website's content and service offerings, and customize the Website's content, layout, and services. These uses improve the Website and better tailor it to meet your needs, so as to provide you with an efficient, safe and customized experience while using the Website.</span></li>
                    </ul>

	    		</div>

	    		<div class="col-md-12 box">
	    			<h2><span><i>3</i></span>Review & Alteration of Information</h2>
	    			<p>Remedica strives to accurately record all information provided on our platform from time to time.</p>
                    <ul class="list_style">
                        <li><span>Remedica encourages you to review, correct, update, and/or change your account information or Personal Information at any time. </span></li>
                        <li><span>You may also delete your information at any time on our platform. However, we may retain certain information as required by law or for reasonable business purposes.</span></li>
                        <li><span>You have a right to review, update, correct, and delete your information; subject to our records retention policies and applicable law, including any statutory retention requirements.</span></li>
                    </ul>

	    		</div>

	    		<div class="col-md-12 box">
	    			<h2><span><i>4</i></span>Third Party Services</h2>
	    			<p>Our Website may contain links to other websites. Please note that when you click on one of these links, you are entering another website over which Remedica has no control and will bear no responsibility. Often these websites require you to enter your Personal Information. We encourage you to read the privacy statements on all such websites as their policies may differ from ours. You agree that Remedica shall not be liable for any breach of your privacy of Personal Information or loss incurred by your use of these websites.</p>

                    <p>In order to use the Services provided by Remedica, the potential you must successfully complete registration on the Website, and third party websites such as Facebook, Google or Email service provider must authorize the registration if required. These Websites while authorizing such registration may have already collected Personal Information about you. Such collection of Personal Information is subject to the privacy policy and terms of use of such websites. Remedica is not responsible for the privacy practices or the content of these third party websites and assumes no liability for any breach occurring because of the same. In addition, you agree that we are not responsible and do not have control over any third parties that you authorize to access your account or information. If you are using a third party website or service and you allow them to access your information it shall be at your own risk.</p>
	    		</div>

	    		<div class="col-md-12 box">
	    			<h2><span><i>5</i></span>Compliance with Data Protection Regulations</h2>
	    			<p>The information we obtain from or about you may be processed and stored in India and our other various servers located across the globe, which may provide for different data protection rules than the country in which you reside. We comply with generally accepted industry standard regulations regarding the collection, use, and retention of data. By using the Website and / or Services, you consent to the collection, transfer, use, storage and disclosure of your information as described in this Privacy Policy, including to the transfer of your information outside of your country of residence.
	    			</p>
	    		</div>

                <div class="col-md-12 box">
                    <h2><span><i>6</i></span>How We Protect Your Information</h2>
                    <p>Remedica has implemented appropriate physical, electronic, and managerial procedures to safeguard and help prevent unauthorized access to the User information and to maintain data security. These safeguards take into account the sensitivity of the information that Remedica collects, processes and stores and the current state of technology. Remedica follows generally accepted industry standards to protect the Personal Information submitted to Remedica, both during transmission and once received, including the use of vault and tokenization services from third party service providers. While Remedica strives to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security and thereby usage in a manner that is inconsistent with this Privacy Policy.</p>
                    <p>Remedica neither accepts nor assumes any liability or responsibility for disclosure of your information due to errors in transmission, unauthorized third party access, or other causes beyond Remedica’s control. We do not, under any circumstances, represent that our platform is completely void of malware including but not limited to viruses, spywares, cancel bots, Trojans, time bombs and any such application, which may be placed on our platform without our knowledge.  However we shall take all the necessary and reasonable steps to ensure that our platform is free from the above-mentioned malware.</p>
                    <p>The User also plays an important role in keeping their Personal Information secure. Using unsecured Wi-Fi or other unprotected networks to submit messages through the Websiteis never recommended. You should not share your user name, password, or other security information for your Remedica account or the device through which you access our Website and / or Services (as the case may be) with anyone. If Remedica receives any instructions through any account or device or any other medium bearing your Personal Information (e.g.: through your contact details, account details or your WhatsApp account, etc.), we will consider that you have authorized the instructions.</p>
                </div>

                <div class="col-md-12 box">
                    <h2><span><i>7</i></span>In the Event of Change of Control</h2>
                    <p>In the event of change of control of Remedica due to the merger with third party, acquisition, bankruptcy or other change of control, we reserve the right to transfer or assign the information we have collected from our users as part of such merger, acquisition, sale, or other change of control. In the unlikely event of our bankruptcy, insolvency, reorganization, receivership, or assignment for the benefit of creditors, or the application of laws or equitable principles affecting creditors' rights generally, we may not be able to control how your Personal Information is treated, transferred, or used.
                    </p>
                </div>

                <div class="col-md-12 box">
                    <h2><span><i>8</i></span>Changes to this Privacy Policy</h2>
                    <p>We reserve the right to update, change or modify this Privacy Policy at any time to reflect any (including but not limited to) changes in the law, the data collection and use practices, the features of the Website or Services, or advances in technology. The amendment to this Privacy Policy shall come to effect from the time of such update, change or modification and the same will be published on this Website.</p>
                    <p>Users are requested to review the Privacy Policy from time to time. Use of information collected is subject to the Privacy Policy in effect at the time such information is used. Any material changes made to this Privacy Policy, shall be posted here. You are requested to review the changes carefully. The changes to this Privacy Policy shall be treated as read, recognized, understood, consented and accepted if the User continues to use the Website or Services provided by Remedica post such changes.</p>
                </div>

                <div class="col-md-12 box">
                    <h2><span><i>9</i></span>Governing Law and Dispute Resolution</h2>
                    <p>This Privacy Policy and Terms of Use shall be governed by and construed in accordance with the laws of India only without reference to conflict of laws principles and disputes arising in relation hereto and shall be subject to the exclusive jurisdiction of the competent courts of Bengaluru, India.
                    </p>
                </div>

                <div class="col-md-12 box">
                    <h2><span><i>10</i></span>How to Contact Us</h2>
                    <p>If you have any questions about this Privacy Policy, please contact us by email or postal mail on the following address:</p>
                    <p>Remedy Technologies Private Limited</p>
                    <p>E-mail: <a href="mailto:consult@remedicahealth.com">consult@remedicahealth.com</a></p>
                    <p>Address: 201 Padmini Apartments, Chikoti Gardens, Begumpet, Hyderabad – 500016</p>
                    <p>Website URL: <a href="http://remedicahealth.com/" target="_blank">www.remedicahealth.com</a></p>
                </div>

	    	</div>
	    </div>

		<div class="footer_bottom">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-8 privacy">
		                <a href="/consult/privacy_policy">Privacy Policy</a><a href="/consult/terms_of_use">Terms of Use</a>
		            </div>
		            <div class="col-md-4 footer_logo">
		                <%= image_tag "footer_logo.png" %>
		                <div class="clearfix"></div>
		                <span>&copy; 2016 All rights reserved</span>
		            </div>
		        </div>
		    </div>
		</div>
    </div>


    <!-- Modal -->
    <div id="myModal" class="modal fade contactpopup_info" role="dialog">
        <div class="modal-dialog contact_dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="mainform_popup">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4>Hi there<span>If you'd like to consult a specialist, or just want more info, fill in your details and we'll contact you.</span></h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" action="https://formbox.es/NgH3bFiWYpY6HuPBRAMiXryt" method="post" class="ig-form">
                            <div class="input-field form-group">
                                <input type="text" class="form-control" name="name">
                                <label>Name</label>
                                <i class="fa fa-user"></i> </div>
                            <div class="input-field form-group">
                                <input type="text" class="form-control" name="email">
                                <label>Email</label>
                                <i class="fa fa-envelope"></i> </div>
                            <div class="input-field form-group">
                                <input type="text" class="form-control" name="mobile">
                                <label>Mobile</label>
                                <i class="fa fa-phone"></i> </div>
                            <div class="btns_info">
                                <button type="submit" class="letus_btn text-center senddetails_btn">Send details</button>
                            </div>
                            <div class="thanks_msg"></div>
                        </form>
                    </div>
                </div>
                <div class="thanksmsg_popup">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <h4>Thanks! <span>Our team will get in touch with you shortly...</span></h4>
                </div>
            </div>
        </div>
    </div>
    <script>
    $(function() {

        $(".thanksmsg_popup").hide();
        $('.ig-form').submit(function(e) {
            e.preventDefault();
            var url = $(this).attr('action');
            var data = $(this).serialize()
            console.log(data);
            $.ajax({
                type: 'post',
                crossDomain: true,
                jsonp: false,
                url: url,
                data: data,
                success: function(response) {
                    // console.log('done');
                     console.log(response);
                    $('.mainform_popup').hide();
                    $(".thanksmsg_popup").show();
                    setTimeout(function() {
                        $('.thanksmsg_popup .close').trigger('click');
                    }, 3000);
                },
                error: function(response) {
                    // console.log('error');
                     console.log(response);
                    $('.mainform_popup').hide();
                    $(".thanksmsg_popup").show();
                    setTimeout(function() {
                        $('.thanksmsg_popup .close').trigger('click');
                    }, 3000);
                }
            });
        });

        mixpanel.track("Page Loaded", {
            "Page Name": "Privacy Policy consumerapp Page",
            "Condition Name": 'n/a',
        });
    });

    </script>
</body>
</html>
