<%= content_for :head do %>
  <title>Terms of Use - Remedica</title>
<% end %>
<body class="inner_body">
	<header class="inner">
        <div class="header_container">
            <div class="row logo_row">
                <div class="col-md-3 col-sm-3 col-xs-3 logo_left">
                    <div class="logo">
                        <a href="http://www.remedicahealth.com"><%= image_tag "remedica_logo.png" %></a>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-9 logo_right">
                    <div class="menu">
                        <ul>
                            <li><a href="#" data-toggle="modal" data-target="#myModal" class="popupopen">Contact us</a></li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
   	<div class="inner_content">
	    <div class="title">
	    	<div class="container">
	    		<div class="row">
	    			<h1>TERMS OF USE</h1>
	    		</div>
	    	</div>
	    </div>
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-12 box">
	    			<p>Welcome to Remedica (URL: <a href="http://remedicahealth.com/" target="_blank">www.remedicahealth.com</a>), a platform for patients to seek doctors' opinions, advice, and treatment plans for medical conditions. Remedica is owned and operated by Remedy Technologies Private Limited and its assigns (“Remedica” or “We” and their connotations). This document provides for our Terms of Use (“Terms”), which, together with our <a href="/consult/privacy_policy">Privacy Policy</a>, defines and governs our relationship with all users and guests (“User” or “you” and their connotations) who use our mobile application or website (together “Website”) and / or use our medical consultation services through the Website or through any other medium (“Services”).</p>
	    			<p>Please read the Terms and Privacy Policy carefully, and if you do not agree to any of the terms, please do not use our Website or Services.</p>
	    		</div>

	    		<div class="col-md-12 box">
	    			<h2><span><i>1</i></span>BINDING AGREEMENT</h2>
	    			<p>These Terms, together with the Privacy Policy, shall constitute an agreement entered into between Remedica and you. By using our Website or Services, you are accepting the practices and conditions described in the Terms and Privacy Policy, and agree to be bound by them.
	    			</p>
	    		</div>

	    		<div class="col-md-12 box">
	    			<h2><span><i>2</i></span>ELIGIBILITY </h2>
	    			<p>The Website and Services shall only be used by persons above the age of 18. By using our Website or Services you represent and warrant that you are above the age of 18 and have the right, authority, and capacity to enter into and to abide by all of the terms and conditions set forth herein.</p>
	    		</div>

	    		<div class="col-md-12 box">
	    			<h2><span><i>3</i></span>REGISTRATION</h2>
	    			<p>In order to avail our Services, you must register with Remedica by providing Personal Information (as defined in the Privacy Policy, including but not limited to name, contact details, demographics, etc.) and any other details as required for the Service. Any User providing such Personal Information to Remedica through the Website or any other medium shall be deemed to be a Registered User. </p>
	    			<ul class="list_style">
	    				<li><span>Only Users who have successfully completed the registration process are entitled to avail the Services, subject to payment of the Fee.</span></li>
	    				<li><span>To complete the registration process, the User shall:
							<ul class="list_style_in">
								<li><span>Provide true, accurate, current, and complete information. We will not be liable for any fault in our Services due to a lack of, incorrect, or false information provided by Users </span></li>
								<li><span>Maintain and promptly update Personal Information to keep it accurate and current</span></li>
								<li><span>Not provide any information with fraudulent or criminal intent. If Users provide any information for the purposes of fraudulent or criminal activities, or we have reasonable grounds to suspect that such information has been provided, we have the right to suspend or terminate their account and refuse any and all current or future use of the Website and / or Services</span></li>
								<p>Additionally</p>
								<li><span>Our Users must be human. Accounts registered by "bots" or similar automated methods are not permitted</span></li>
								<li><span>Our registered Users expressly agree to be contacted via Email, SMS, WhatsApp, text messaging and Push Notifications by us, and third parties, if relevant, regarding our Website and / or Services</span></li>
								<li><span>Our Users are responsible for maintaining the security of their account and password and / or access to our Website / Services through any device (including but not limited to, personal computer, mobile phone, tablet) or any communication service / medium (including but not limited to, WhatsApp, e-mail, etc), as the case may be. We cannot and will not be liable for any loss or damage from their failure to comply with this security obligation</span></li>
								<li><span>The Users’ use of the Website and / or Service must not violate any applicable law or regulation or cause injury to any person whatsoever</span></li>
							</ul>
	    				</span></li>
	    				<li><span>Remedica grants its Users a limited, revocable, personal, non-transferable, and non-exclusive right and license to access and use the Website and Services by virtue of their registration.</span></li>
	    				<li><span>Our Users agree not to access the Website or Services by any means other than through authorized interfaces</span></li>
	    				<li><span>Our Users agree to not use the Website or Services in a manner that is inconsistent with the rights and restrictions as set forth in these Terms.</span></li>
	    				<li><span>Remedica may in its sole discretion, close the User account, if any information provided during or after registration is found to be false or the information provided is not sufficient.</span></li>
	    			</ul>
	    		</div>

	    		<div class="col-md-12 box">
	    			<h2><span><i>4</i></span>PAYMENT</h2>
	    			<ul class="list_style">
	    				<li><span>Remedica shall endeavour to provide its Users with facilities / gateways to pay the prescribed fee for availing Services (“Fee”) through credit cards, debit cards, cash cards and internet banking.</span></li>
	    				<li><span>You agree that the Services shall only commence after realization of money in the accounts of Remedica.</span></li>
	    				<li><span>You also agree that payment mechanisms may be governed by separate / additional terms of use and agreements between the third parties who provide such facilities.</span></li>
	    				<li><span>In no event whatsoever shall Remedica take any responsibility or liability for malfunctioning or defect in any payment procedure. Payment of the Fee shall be the sole responsibility of the User.</span></li>
	    				<li><span>Remedica reserves the right to alter any and all Fees from time to time, without notice.</span></li>
	    				<li><span>You may be liable to pay all applicable charges, fees, duties, taxes, levies and assessments for availing the Services. </span></li>
	    			</ul>
	    		</div>

	    		<div class="col-md-12 box">
	    			<h2><span><i>5</i></span>REFUND AND CANCELLATION POLICY</h2>
	    			<ul class="list_style">
	    				<li><span>Cancellation shall be acceptable only if the User informs Remedica BEFORE the availed Service has been successfully performed by or through Remedica.</span></li>
	    				<li><span>The refund amount will be sent to the respective debit card / credit card / account from where payment was made and amount will not be refundable by any other mode.</span></li>
	    			</ul>
	    		</div>

	    		<div class="col-md-12 box">
	    			<h2><span><i>6</i></span>PROHIBITED ACTIVITIES</h2>
	    			<ul class="list_style">
	    				<li><span>You shall not use the Website in order to transmit, distribute, store or destroy material, including, without limitation, content provided by Remedica:
							<ul class="list_style_in">
								<li><span>for any unlawful purpose or in violation of any applicable law, regulation, international law or laws of any country; or</span></li>
								<li><span>in a manner that will infringe the copyright, trademark, trade secret or other intellectual property rights of others or violate the privacy, publicity or other personal rights of others, or</span></li>
								<li><span>that is false, misleading, defamatory, misleading, libelous, obscene, threatening, abusive or is offensive to Users of the Website, such as content or messages that promote racism, bigotry, hatred or physical harm of any kind against any group or individual; or</span></li>
								<li><span>that harasses or advocates harassment of another person.</span></li>
							</ul>
	    				</span></li>
	    				<li><span>You are also prohibited from violating or attempting to violate the security of the Website, including, without limitation the following activities:
							<ul class="list_style_in">
								<li><span>accessing data not intended for you or logging into a server or account which you are not authorized to access;</span></li>
								<li><span>attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorization; </span></li>
								<li><span>attempting to interfere with Website service to any user, host or network, including, without limitation, via means of submitting a virus to the Website, overloading, "flooding", "spamming", "mail bombing", "hacking" or "crashing"; or </span></li>
								<li><span>forging any TCP/IP packet header or any part of the header information in any e-mail or newsgroup posting. Violations of system or network security may result in civil or criminal liability.</span></li>
							</ul>
	    				</span></li>
	    				<li><span>Specific Restrictions on Rights to Use. In addition to the above, you shall not:
							<ul class="list_style_in">
								<li><span>modify, adapt, translate, or reverse engineer any portion of the Website or Services;</span></li>
								<li><span>remove any copyright, trademark or other proprietary rights notices contained in or on the Website and / or Services;</span></li>
								<li><span>use any robot, spider, site search / retrieval application, or other device to retrieve or index any portion of the Website or Service, or for crawling the Website and scraping content, or to circumvent the technological methods adopted by the Website to prevent such prohibited use;</span></li>
								<li><span>reformat or frame any portion of the web pages that are part of the Website;</span></li>
								<li><span>create user accounts by automated means or under false or fraudulent pretenses;</span></li>
								<li><span>engage in activities or submit content that solicits Personal Information for unlawful purposes from other Users;</span></li>
								<li><span>engage in unauthorized commercial activities and/or sales without our prior written consent such as advertising, solicitations, contests, sweepstakes, barter, and pyramid schemes; </span></li>
								<li><span>in any manner interfere with other User's enjoyment of the Website / Services;</span></li>
								<li><span>submit any content or material that falsely expresses or implies that such content or material is sponsored or endorsed by Remedica or the Website or Services;</span></li>
								<li><span>transmit any viruses, worms, defects, Trojan horses or other malware or items of a destructive nature;</span></li>
								<li><span>make use of the Website or Services to violate the security of any computer network, crack passwords or security encryption codes, transfer or store illegal material including material deemed threatening or obscene;</span></li>
								<li><span>copy or store any content offered on the Website or Services for any purpose other than your own use;</span></li>
								<li><span>take any action that imposes, or may impose in our sole discretion, an unreasonable or disproportionately large load on our IT infrastructure;</span></li>
								<li><span>Use any robot, spider, other automatic device, or manual process to monitor, copy, or "scrape" web pages or the content contained in the Website or Services, or for any other unauthorized purpose without our prior written consent;</span></li>
								<li><span>Use any device, software, or routine to interfere or attempt to interfere with the proper working of the Website or Services;</span></li>
								<li><span>Engage in decompiling, reverse engineering, or disassembling the software or attempt to do so or any such activity that would result in discovery of the source code or bypass or circumvent measures employed to prevent or limit access to any area, content, or code of the Website or Services;</span></li>
								<li><span>Take any action that imposes an unreasonable or disproportionately large load on the Website or our hardware and software infrastructure or that of any of our licensors or suppliers.</span></li>
								<li><span>Use the Website and / or Services in any manner that could interfere with, disrupt, negatively affect, or inhibit other users from fully enjoying the Website or Services, or that could damage, disable, overburden, or impair the functioning of the Website or Services in any manner;</span></li>
								<li><span>Compromise the security of the Website and / or Services;</span></li>
								<li><span>Use or attempt to use another User’s account without authorization;</span></li>
								<li><span>Attempt to circumvent any content-filtering techniques we employ, or attempt to access areas or features of the Website or Services that the User is not authorized to access;</span></li>
								<li><span>Attempt to indicate in any manner that the User has a relationship with us or that we have endorsed the User or any products or services without our express written consent to do so;</span></li>
								<li><span>Impersonate any person or entity or otherwise misrepresent the User’s affiliation with a person or entity;</span></li>
								<li><span>Develop any third-party applications that interact with content on the Website and / or Services without our prior written consent; and</span></li>
								<li><span>Use the Website and / or Services for any purpose that is not personal, or is illegal, or is beyond the scope of their intended use, or is otherwise prohibited in these Terms or the terms of any third party that governs a particular Service</span></li>
							</ul>
	    				</span></li>
	    				<li><span>Remedica shall be entitled to investigate such occurrences which may involve violations including but not limited to those enumerated above and may take appropriate legal action, involve and cooperate with law enforcement authorities in prosecuting persons who are involved in such violations.</span></li>
	    			</ul>
	    		</div>

	    		<div class="col-md-12 box">
	    			<h2><span><i>7</i></span>INTELLECTUAL PROPERTY</h2>
	    			<ul class="list_style">
	    				<li><span>These Terms do not transfer from us to our Users any of our or any third party’s intellectual property, and all right, title and interest in and to such property will remain (as between the parties) solely with us. </span></li>
	    				<li><span>Our logo, and all other trademarks, service marks, graphics and logos used in connection with the Website and / or Services are our trademarks or registered trademarks, or our licensors’. Other trademarks, service marks, graphics and logos used in connection with the Website and / or Services may be the trademarks of other third parties.</span></li>
	    				<li><span>Our Users’ use of the Website and / or Services grants our Users no right or license to reproduce or otherwise use any of our or any third party’s trademarks. We retain the intellectual property rights in the content. </span></li>
	    			</ul>
	    		</div>

	    		<div class="col-md-12 box">
	    			<h2><span><i>8</i></span>REPRESENTATION, WARRANTIES AND LIABILITY</h2>
	    			<ul class="list_style">
	    				<li><span>The Website is provided by Remedica on an "as is" basis. Remedica, its licensors and affiliates make no representations or warranties of any kind (express, statutory or implied) as to the operation of the Website, provision of Services or software, or the information, content, materials, or products included on the Website, or in association with the Services or any third party websites or services.</span></li>
	    				<li><span>To the fullest extent permissible by applicable law, Remedica, its licensors and affiliates disclaim all warranties (express, statutory, or implied) arising out of the User’s use or reliance upon the Website and / or Services, representations and warranties made by other Users, doctors, the content or information provided by the Users on the Website, or any opinion or suggestion given or expressed by Remedica or any doctor empanelled with Remedica or any User in relation to any User or services provided by such User. We further do not warrant the accuracy or completeness of the information, text, graphics, links or other items contained within the Website. </span></li>
	    				<li><span>All the contents of this Website are only for general information or use. They do not constitute any medical advice and should not be relied upon in making (or refraining from making) any decision unless specifically availed for through our Services.</span></li>
	    				<li><span>Remedica disclaims any liability arising out of your use of this Service or for any adverse outcome from your use of the information provided by this Service for any reason, including but not limited to any misunderstanding or misinterpretation of the information provided through this Service. Any specific advice or opinion in any part of the Service is / are the personal opinion of such doctors and are not subscribed to by Remedica. Further it shall be the sole responsibility of the Users to provide any information and/or disclose true and correct information (including, but not limited to their medical history, symptoms and personal information) at the time of subscribing for the Services and we do not take any responsibility for the accuracy or validity or truth of the Service provided to the User and we shall not be liable on this account based on any incorrect / false information having been provided by the User.</span></li>
	    				<li><span>We are not responsible for the conduct of or content on the websites of third parties, affiliates and business partners that the Website may be linked to. Remedica has no control over, and not liable or responsible for content, accuracy, validity, reliability, quality of such websites or made available by/through our Website or Services. Inclusion of any link on the Website does not imply that Remedica endorses the linked site. The User uses the links and these services at the User’s own risk.</span></li>
	    				<li><span>We do not warrant or covenant that the Website and / or Services will be available at any time or from any particular location, will be secure or error-free, that defects will be corrected, or that the Services and access to the Website is free of viruses or other potentially harmful components. Any material or content downloaded or otherwise obtained through the use of the Website is accessed at your own discretion and risk, and you will be solely responsible for any damage to your computer system or loss of data that results from the download of any such material. </span></li>
	    				<li><span>No advice or information, whether oral or written, obtained by any User from Remedica, the Website or through or from the Services, the information, content, materials, or products on the Website shall create any warranty not expressly stated herein.</span></li>
	    				<li><span>Since Remedica acts only as a service portal for the Users, it shall not have any liability whatsoever for any aspect of the payment between the third party and the User.</span></li>
	    				<li><span>In no event shall Remedica be liable for any direct, indirect, punitive, incidental, special, consequential damages or any other damages resulting from: (i) the use or the inability to use the Website / Services; (ii) unauthorized access to or alteration of the User's transmissions or data; (iii) any other matter relating to the Website / Services; including, without limitation, damages for any loss whatsoever arising out of or in any way connected with the use or performance of the Website.</span></li>
	    				<li><span>Remedica shall not be liable for any failure to perform its obligations hereunder where such failure results from any cause beyond our reasonable control, including, without limitation, mechanical, electronic or communications failure or degradation (including "line-noise" interference). Without limiting the foregoing, Remedica and its affiliates and suppliers will not be liable under any law, for any indirect, incidental, punitive, and consequential damages, including, but not limited to loss of profits, service interruption, and/or loss of information or data.</span></li>
	    				<li><span>Neither shall Remedica be responsible for the delay or inability to use the Website or Services, the provision of or failure to provide Services, or for any information, software, products, Services and related graphics obtained through the Website, or otherwise arising out of the use of the Website / Services, whether based on contract, tort, negligence, strict liability or otherwise. Further, Remedica shall not be held responsible for non-availability of the Website for reasons including but not limited to periodic maintenance operations or any unplanned suspension of access to the Website that may occur due to technical reasons or for any other reason whatsoever. You agree that any material and / or data downloaded or otherwise obtained through the Website is done entirely at your own discretion and risk, and you will be solely responsible for any damage to your computer systems or loss of data that results from the download of such material and/or data.</span></li>
	    				<li><span>These limitations, disclaimer of warranties and exclusions apply without regard to whether the damages arise from (i) breach of contract, (ii) breach of warranty, (iii) negligence, or (iv) any other cause of action, to the extent such exclusion and limitations are not prohibited by applicable law.</span></li>
	    				<li><span>Our Users represent and warrant that (i) The use of the Website and / or Services will be in strict accordance with the our Terms, Privacy Policy and with all applicable laws and regulations (including, without limitation, any local laws or regulations in their country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the country in which our Users reside) and (ii) The use of the Website and / or Services will not infringe or misappropriate the intellectual property rights of any third party.</span></li>
	    			</ul>
	    		</div>


	    		<div class="col-md-12 box">
	    			<h2><span><i>9</i></span>INDEMNITY</h2>
	    			<p>You agree to indemnify and hold Remedica, its subsidiaries, affiliates, officers, shareholders and employees, harmless, including costs and attorneys' fees, from any claim or demand made by any third party due to or arising out of (i) your access to the Website, (ii) your use of the Services, (iii) the violation of these Terms by you, or (iv) the infringement by you of any intellectual property or other right of any person or entity</p>
	    		</div>

	    		<div class="col-md-12 box">
	    			<h2><span><i>10</i></span>TERM & TERMINATION</h2>
	    			<ul class="list_style">
	    				<li><span>These Terms, with modifications as contemplated, shall remain in full force and effect during the use of the Website and / or Services for all Users. </span></li>
	    				<li><span>We may terminate our Users’ access to all or any part of the Website or Services at any time, with or without cause, with or without notice, effective immediately. </span></li>
	    				<li><span>If at any time our Users wish to terminate this binding agreement or their registered account (if they have one), our Users may simply discontinue using the Website and / or Services.</span></li>
	    				<li><span>Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability. The User understands that any and all content posted by them shall stay in visibility to other Users. </span></li>
	    			</ul>
	    		</div>

	    		<div class="col-md-12 box">
	    			<h2><span><i>11</i></span>MODIFICATIONS</h2>
	    			<p>The Terms accord a right on Remedica, in its discretion, to revise, modify, add, or remove portions of the Terms at any time. By our Users’ use of the Website and / or Services, our Users obligate themselves to periodically check the Terms for any changes. We may also, in the future, offer new Services and / or features through the Website or Services (including, the release of new tools and resources) which shall also be subject to these Terms. If any modification to these Terms is not acceptable to our Users, they must cease accessing, browsing and otherwise using the Website and / or Services.The changes to the Terms shall be treated as read, recognized, understood, consented and accepted if the User continues to use the Website or Services post such changes.</p>
	    		</div>

	    		<div class="col-md-12 box">
	    			<h2><span><i>12</i></span>GOVERNING LAW AND DISPUTE RESOLUTION</h2>
	    			<p>This Terms of Use and Privacy Policy shall be governed by and construed in accordance with the laws of India only without reference to conflict of laws principles and disputes arising in relation hereto and shall be subject to the exclusive jurisdiction of the competent courts of Bengaluru, India.</p>
	    		</div>

	    		<div class="col-md-12 box">
	    			<h2><span><i>13</i></span>MISCELLANEOUS</h2>
	    			<p>These Terms constitute the entire agreement between Remedica and our Users concerning the subject matter hereof, and they may only be modified by a written amendment signed by an authorized executive of Remedica, or by our posting of a revised version. If any provision (or part of a provision) of these Terms is deemed unlawful, invalid, or unenforceable by a judicial court for any reason, then that provision (or part of a provision) shall be read down or deemed severed from these Terms to the minimum extent required to ensure compliance with the relevant laws, and the remainder of the Terms shall continue in full force and effect. A waiver by Remedica of any condition of these Terms or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof. Our Users may not assign their rights under these Terms to any party; Remedica may assign its rights under these Terms without condition. These Terms will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns. These Terms are subject to force majeure.</p>
	    			<p><strong>For contacting us, please write to:</strong></p>
	    			<p>Remedy Technologies Private Limited</p>
	    			<p>Email: <a href="mailto:consult@remedicahealth.com">consult@remedicahealth.com</a></p>
	    			<p>Address: 201 Padmini Apartments, Chikoti Gardens, Begumpet, Hyderabad – 500016</p>
	    			<p>Website URL:<a href="http://remedicahealth.com/" target="_blank">www.remedicahealth.com</a></p>
	    		</div>



	    	</div>
	    </div>

		<div class="footer_bottom">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-8 privacy">
		                <a href="/consult/privacy_policy">Privacy Policy</a><a href="/consult/terms_of_use">Terms of Use</a>
		            </div>
		            <div class="col-md-4 footer_logo">
		                <%= image_tag "footer_logo.png" %>
		                <div class="clearfix"></div>
		                <span>&copy; 2016 All rights reserved</span>
		            </div>
		        </div>
		    </div>
		</div>
    </div>


    <!-- Modal -->
    <div id="myModal" class="modal fade contactpopup_info" role="dialog">
        <div class="modal-dialog contact_dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="mainform_popup">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4>Hi there<span>If you'd like to consult a specialist, or just want more info, fill in your details and we'll contact you.</span></h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" action="https://formbox.es/NgH3bFiWYpY6HuPBRAMiXryt" method="post" class="ig-form">
                            <div class="input-field form-group">
                                <input type="text" class="form-control" name="name">
                                <label>Name</label>
                                <i class="fa fa-user"></i> </div>
                            <div class="input-field form-group">
                                <input type="text" class="form-control" name="email">
                                <label>Email</label>
                                <i class="fa fa-envelope"></i> </div>
                            <div class="input-field form-group">
                                <input type="text" class="form-control" name="mobile">
                                <label>Mobile</label>
                                <i class="fa fa-phone"></i> </div>
                            <div class="btns_info">
                                <button type="submit" class="letus_btn text-center senddetails_btn">Send details</button>
                            </div>
                            <div class="thanks_msg"></div>
                        </form>
                    </div>
                </div>
                <div class="thanksmsg_popup">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <h4>Thanks! <span>Our team will get in touch with you shortly...</span></h4>
                </div>
            </div>
        </div>
    </div>
    <script>
    $(function() {

        $(".thanksmsg_popup").hide();
        $('.ig-form').submit(function(e) {
            e.preventDefault();
            var url = $(this).attr('action');
            var data = $(this).serialize()
            console.log(data);
            $.ajax({
                type: 'post',
                crossDomain: true,
                jsonp: false,
                url: url,
                data: data,
                success: function(response) {
                    // console.log('done');
                     console.log(response);
                    $('.mainform_popup').hide();
                    $(".thanksmsg_popup").show();
                    setTimeout(function() {
                        $('.thanksmsg_popup .close').trigger('click');
                    }, 3000);
                },
                error: function(response) {
                    // console.log('error');
                     console.log(response);
                    $('.mainform_popup').hide();
                    $(".thanksmsg_popup").show();
                    setTimeout(function() {
                        $('.thanksmsg_popup .close').trigger('click');
                    }, 3000);
                }
            });
        });
		mixpanel.track("Page Loaded", {
			"Page Name": "T&C consumerapp Page",
			"Condition Name": 'n/a',
		});

    });

    </script>
</body>
</html>
