<% content_for :typeform_head do %>
<style type="text/css">
  html {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
  iframe {
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    border:0;
  }
</style>
<% end %>
<script type="text/javascript">


  var condition = "<%= session[:condition] %>";
  var btnname2 = ""

  switch(condition)  {
    case 'Acne &amp; Pimples': 
      btnname2 += 'Acne';
      break;
    case 'Acne & Pimples': 
      btnname2 += 'Acne';
      break;
    case 'Eczema, Psoriasis &amp; Rash': 
      btnname2 += 'Eczema, Psoriasis and Rash';
      break;
    case 'Eczema, Psoriasis & Rash': 
      btnname2 += 'Eczema, Psoriasis and Rash';
      break;
    case 'Skin Growth (Moles, Warts)':
      btnname2 += 'Skin Growths';
      break;
    case 'Stretch Marks':
      btnname2 += 'Stretch Marks';
      break;
    case 'Hairfall or Hair Thinning':
      btnname2 += 'Hairfall';
      break;
    case 'Pigmentation, Tanning &amp; Dark Circles':
      btnname2 += 'Pigmentation and Dark Circles';
      break;
    case 'Pigmentation, Tanning & Dark Circles':
      btnname2 += 'Pigmentation and Dark Circles';
      break;
    default:
      btnname2 += condition;
  }

  mixpanel.track("Page Loaded", {
    "Page Name": "Condition Typeform Page",
    "Condition Name": btnname2,
  });
  window._fbq.push(['track', 'Condition Typeform Page Loaded', {'Condition Name':btnname2}]);

</script>
<div class="loader"></div>
<script type="text/javascript" src="https://s3-eu-west-1.amazonaws.com/share.typeform.com/embed.js"></script>
<iframe id="typeform-full" width="100%" height="100%" frameborder="0" src="<%= @condition_form %>"></iframe>
