<% content_for :typeform_head do %>
<style type="text/css">
  ul {
    list-style: none;
  }
  .help-block {
    color: #a94442;
  }
</style>
<% end %>
<%= content_for :body_class, "inner_body white_back pad_15" %>
<main id="form-step-1">
    <section class="inner_content">
        <div class="container">
            <div class="row contactpopup_info">
                <div class="col-sm-12 box pad_0 margin_0">
          				<div class="row space_bottom">
          					<div class="col-sm-12"><h1>Let's get started</h1></div>
          					<div class="col-sm-12"><h4 style="font-size: 16px; line-height: 1.1; font-weight: normal; margin-top: 10px">To begin a consultation, we need some details from you</h4></div>
          	    	</div>
                    <%= render 'form', patient: @patient %>
                </div>
            </div>
        </div>
    </section>
</main>
<main id="form-step-2">
	<%= render 'welcome' %>
</main>
<main id="form-step-3">
    <section class="inner_content">
        <div class="container">
            <div class="row contactpopup_info">
                <div class="col-sm-12 box pad_0 margin_0">
        <div class="row space_bottom">
          <div class="col-sm-12"><h1>How can we help?</h1></div>
          <div class="col-sm-12"><h4 style="font-size: 16px; line-height: 1">Let us know which condition you would like help with</h4></div>
          </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="text-center">
              <div class="list_btn hover space_bottom form-stepper-2">Acne</div>
            </div>
            <div class="text-center">
              <div class="list_btn hover space_bottom form-stepper-2">Hairfall or Hair Thinning</div>
            </div>
            <div class="text-center">
              <div class="list_btn hover space_bottom form-stepper-2">Pigmentation &amp; Dark Circles</div>
            </div>
            <div class="text-center">
              <div class="list_btn hover space_bottom form-stepper-2">Dandruff</div>
            </div>
            <div class="text-center">
              <div class="list_btn hover space_bottom form-stepper-2">Eczema, Psoriasis & Rash</div>
            </div>
            <div class="text-center">
              <div class="list_btn hover space_bottom form-stepper-2">Stretch Marks</div>
            </div>
            <div class="text-center">
              <div class="list_btn hover space_bottom form-stepper-2">Skin Growth (Moles, Warts)</div>
            </div>
          </div>
        </div>
                </div>
            </div>
    <hr class="border_transparent">
        </div>
    </section>
</main>
<!-- Modal -->
<div id="myModal" class="modal fade contactpopup_info" role="dialog">
    <div class="modal-dialog contact_dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="mainform_popup">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Hi there<span>If you'd like to consult a specialist, or just want more info, fill in your details and we'll contact you.</span></h4>
                </div>
                <div class="modal-body">
                    <form role="form" action="https://formbox.es/NgH3bFiWYpY6HuPBRAMiXryt" method="post" class="ig-form">
                        <div class="input-field form-group">
                            <input type="text" class="form-control" name="name">
                            <label>Name</label>
                            <i class="fa fa-user"></i> </div>
                        <div class="input-field form-group">
                            <input type="text" class="form-control" name="email">
                            <label>Email</label>
                            <i class="fa fa-envelope"></i> </div>
                        <div class="input-field form-group">
                            <input type="text" class="form-control" name="mobile">
                            <label>Mobile</label>
                            <i class="fa fa-phone"></i> </div>
                        <div class="btns_info">
                            <button type="submit" class="letus_btn text-center senddetails_btn">Send details</button>
                        </div>
                        <div class="thanks_msg"></div>
                    </form>
                </div>
            </div>
            <div class="thanksmsg_popup">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <h4>Thanks! <span>Our team will get in touch with you shortly...</span></h4>
            </div>
        </div>
    </div>
</div>
<script>
$(function(){
  $(".thanksmsg_popup").hide();
  $('.ig-form').submit(function(e) {
      e.preventDefault();
      var url = $(this).attr('action');
      var data = $(this).serialize()
      console.log(data);
      $.ajax({
          type: 'post',
          crossDomain: true,
          jsonp: false,
          url: url,
          data: data,
          success: function(response) {
              // console.log('done');
              // console.log(response);
              $('.mainform_popup').hide();
              $(".thanksmsg_popup").show();
              setTimeout(function() {
                  $('.thanksmsg_popup .close').trigger('click');
              }, 3000);
          },
          error: function(response) {
              // console.log('error');
              // console.log(response);
              $('.mainform_popup').hide();
              $(".thanksmsg_popup").show();
              setTimeout(function() {
                  $('.thanksmsg_popup .close').trigger('click');
              }, 3000);
          }
      });
  });
});
</script>
