<%= content_for :body_class, "inner_body white_back pad_15" %>
    <main>
        <article class="inner_content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 box pad_0 margin_0">
						<section class="space_bottom text-center">
							<div class="row">
				    			<h1>Welcome</h1>
				    		</div>
			                <div class="row space_top_sm">
			                    <h4>We're happy to welcome you to a consultation with Remedica.</h4>
			                </div>
			                <div class="row space_top_sm">
			                    <h4>Below are the steps that we will take to help achieve better skin and hair.</h4>
			                </div>
			                <div class="row space_top_sm">
			                    <h4>If you have any questions, in the meantime, please contact us at:</h4>
			                </div>
			                <div class="row text-center font_h5 hidden-xs">
			                    <span class="font_weight_med color_grey">
			                        <i class="inline fa fa-envelope-o color_blue"></i>
			                        consult@remedicahealth.com
			                    </span>
			                    <span class="font_weight_med color_grey space_left">
			                        <i class="inline fa fa-whatsapp color_blue"></i>
			                        8433 848 969
			                    </span>
			                </div>
			                <div class="row visible-xs">
			                    <div class="col-sm-12">
			                        <div class="font_weight_med color_grey">
			                            <i class="inline fa fa-envelope-o color_blue"></i>
			                            consult@remedicahealth.com
			                        </div>
			                    </div>
			                    <div class="col-sm-12">
			                        <div class="font_weight_med color_grey">
			                            <i class="inline fa fa-whatsapp color_blue"></i>
			                            8433 848 969
			                        </div>
			                    </div>
			                </div>
						</section>
						<hr class="border_transparent">
						<section class="row light_grey_back">
							<div class="col-sm-12 pad_15">
								<h2><span><i>1</i></span>Answer Our Questionnaire</h2>
								<p class="bullet_pad">
									We will ask you a few questions about you and your condition. We will also ask you for some photos of your symtoms. This will take 5-7 minutes.
									<br />
									We will also ask you to make payment for the treatment plan.
								</p>
								<hr class="border_transparent">
								<h2><span><i>2</i></span>Receive Your Treatment Plan</h2>
								<p class="bullet_pad">
									Our dermatologists will prepare a personalized treatment plan for you within 48 hours.
									<br />
									We will diagnose your condition, provide advise, and prescribe medication & other products as required.
								</p>
								<hr class="border_transparent">
								<h2><span><i>3</i></span>Get Reminders & Follow-up</h2>
								<p class="bullet_pad">
									We will provide you customised dailty reminders for what to do, and an extra follow-up consultaiton, to ensure your treatment provides the best possible result.
								</p>
							</div>
						</section>
						<section>
				            <div class="action_content">
				                <div id="agree_terms" class="text-center">
				                    <input type="checkbox" name="agree_terms">
				                    <label for="agree_terms"></label>
				                    <span>I agree to the <a href="/terms_of_use">Terms of Use</a> and <a href="/privacy_policy">Privacy Policy</a?</span>
				                </div>
				                <div class="btns_info text-center">
				                    <a class="ready_btn">
				                        I'M READY, LETS GET STARTED
				                    </a>
				                </div>
				            </div>
				        </section>
                    </div>
                </div>
            </div>
        </article>
    </main>


    <!-- Modal -->
    <div id="myModal" class="modal fade contactpopup_info" role="dialog">
        <div class="modal-dialog contact_dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="mainform_popup">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4>Hi there<span>If you'd like to consult a specialist, or just want more info, fill in your details and we'll contact you.</span></h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" action="https://formbox.es/NgH3bFiWYpY6HuPBRAMiXryt" method="post" class="ig-form">
                            <div class="input-field form-group">
                                <input type="text" class="form-control" name="name">
                                <label>Name</label>
                                <i class="fa fa-user"></i> </div>
                            <div class="input-field form-group">
                                <input type="text" class="form-control" name="email">
                                <label>Email</label>
                                <i class="fa fa-envelope"></i> </div>
                            <div class="input-field form-group">
                                <input type="text" class="form-control" name="mobile">
                                <label>Mobile</label>
                                <i class="fa fa-phone"></i> </div>
                            <div class="btns_info">
                                <button type="submit" class="letus_btn text-center senddetails_btn">Send details</button>
                            </div>
                            <div class="thanks_msg"></div>
                        </form>
                    </div>
                </div>
                <div class="thanksmsg_popup">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <h4>Thanks! <span>Our team will get in touch with you shortly...</span></h4>
                </div>
            </div>
        </div>
    </div>
    <script>
    $(function() {

        $(".thanksmsg_popup").hide();
        $('.ig-form').submit(function(e) {
            e.preventDefault();
            var url = $(this).attr('action');
            var data = $(this).serialize()
            console.log(data);
            $.ajax({
                type: 'post',
                crossDomain: true,
                jsonp: false,
                url: url,
                data: data,
                success: function(response) {
                    // console.log('done');
                     console.log(response);
                    $('.mainform_popup').hide();
                    $(".thanksmsg_popup").show();
                    setTimeout(function() {
                        $('.thanksmsg_popup .close').trigger('click');
                    }, 3000);
                },
                error: function(response) {
                    // console.log('error');
                     console.log(response);
                    $('.mainform_popup').hide();
                    $(".thanksmsg_popup").show();
                    setTimeout(function() {
                        $('.thanksmsg_popup .close').trigger('click');
                    }, 3000);
                }
            });
        });

        // For "I agree Terms of Use and Privacy Policy"
        $("#agree_terms").on('click', function() {
            var checkbox = $(this).find("input[name=agree_terms]")[0];
            if (!checkbox) { return; }
            checkbox.checked = !checkbox.checked;
        });

        $("a.ready_btn").on('click', function () {
            var checkbox = $("#agree_terms").find("input[name=agree_terms]")[0];
            console.log(checkbox.checked);
            if (!checkbox || !checkbox.checked) { return; }
            window.location.href = "/new_patient";
            ga('send', 'event', { eventCategory: 'consultation', eventAction: 'clickReadyButton'});
        });
    });

    </script>
