<!DOCTYPE html>
<html>
    <body style="text-align: center; font-family: Arial; font-size: 16px; max-width: 600px; margin: auto">
        <div style="text-align: center">
            <div style="background-color: #18a4b7">
                <img src="http://www.remedicohealth.com/images/email/logo.png" alt="remedico" style="max-height: 15px; max-width: 100%;height: auto; float:left ; margin-left: 10px; margin-right: 10px; margin-top: 10px">
                <div style="font-size: 28px; font-weight: 600; color: white; padding-top: 60px; padding-bottom: 26px; line-height: 1.5">Thanks for using Remedico!</div>

            </div>
            <br>



            <div style="width: 80%; margin-left: 10%; padding-bottom: 25px; font-weight: bold; color: black;line-height: 1.5"><%= @user.name %>, we're thrilled that you've chosen us to help you with your skin & hair.</div>

            <div style="text-align: left; width: 80%; margin-left: 10%;">Thanks for submitting your responses, and we hope you found the process easy.</div>

            <br>

            <div style="text-align: left; width: 80%; margin-left: 10%;">Our dermatologists are reviewing your case and if everything is in order, you can expect a treatment plan within 48 hours.</div>

            <br>

            <div style="text-align: left; width: 80%; margin-left: 10%;">If we need anything more from you, or if our dermatologists have some questions, one of our customer service representatives will contact you.</div>

            <br>

            <div style="text-align: left; width: 90%; margin-left: 5%; border: 1px solid #ddd; border-radius: 5px;">
                <div style="padding: 15px;">
                    In the meantime, if you have any questions feel free to reach out to us by emailing us at <strong>consult@remedicohealth.com</strong>, or you can reach us on <strong>WhatsApp</strong> at <strong>+91 8433 848 969</strong>
                </div>
            </div>
            <br><br>
            <div>
                Thanks,<br>
                <strong>Team Remedico</strong>
            </div>
            <br>
            <br>
            <div style="background-color: #eee; padding: 20px; font-size: 14px;">
                <div style="margin: 5px 0px">
                    <a href="http://www.facebook.com/remedico"><img src="http://www.remedicohealth.com/images/email/FB.png" alt="Facebook" style="margin: 0px 5px;"></a>
                    <a href="http://www.twitter.com/remedicohealth"><img src="http://www.remedicohealth.com/images/email/tw.png" alt="Twitter" style="margin: 0px 5px;"></a>
                    <a href="http://www.instagram.com/remedico"><img src="http://www.remedicohealth.com/images/email/insta.png" alt="Instagram" style="margin: 0px 5px;"></a>
                </div>
                <div>
                    <a href="http://www.remedicahealth.com"><img src="http://www.remedicahealth.com/images/email/remedica_logo.png" alt="remedica" style="width: 100px; margin-top: 10px;"></a>
                </div>
                <div style="font-size:12px;display:block; margin-top:10px">
                    <span>

                    <a href="http://www.remedicahealth.com/privacy-policy.html" style="color: gray;">Privacy Policy</a>
                     |
                    <a href="http://www.remedicahealth.com/terms-of-use.html" style="color: gray;">Terms of Use</a>
                     |
                    <a href="http://www.remedicahealth.com/about.html" style="color: gray;">About Us</a>
                  </span>

                </div>

            </div>
        </div>
    </body>
</html>
