<!DOCTYPE html>
<html>
    <body style="text-align: center; font-family: Arial; font-size: 16px; max-width: 600px; margin: auto;">
        <div style="text-align: center">
            <div style="background-color: #18a4b7">
                <img src="http://www.remedicohealth.com/images/email/whitelogo.png" alt="remedico" style="max-height: 30px; max-width: 100%;height: auto; margin: 20px 10px 20px;">

            </div>
            <div style="background: #EEE;padding: 40px 20px 0px;">
            

            <div style="background-color: #FFF;padding: 20px 0 40px;border-radius: 5px;text-align: left; color: #545454; font-size: 14px;">

                <div style="width: 80%; margin-left: 10%; line-height: 1.5">
                
                    <p style="margin-bottom: 20px;"><strong>Dear <%= @user.name %>,</strong></p>
                    <p>Thanks for using Remedico!</p>
                    <p>We're thrilled that you've chosen us to help you with your skin & hair.</p>
                    <p>Our dermatologists are reviewing your case and if everything is in order, you can expect a treatment plan within 24 hours.</p>
                    <p style="margin-top: 20px;">Thanks, <br><strong>Team Remedico</strong></p>

                </div>


                <br>

                <div style="text-align: left; width: 90%; margin-left: 5%; border: 1px solid #ddd; border-radius: 5px;line-height: 1.5">
                    <div style="padding: 15px;">
                        In the meantime, if you have any questions feel free to reach out to us by emailing us at <strong>consult@remedicohealth.com</strong>, or you can reach us on <strong>WhatsApp</strong> at <strong><span style="white-space: nowrap">+91 8433 848 969</span></strong>
                    </div>
                </div>
            </div>

            </div>
            <div style="background-color: #eee; padding: 20px; font-size: 14px;">
                <div style="margin: 5px 0px">
                    <a href="http://www.facebook.com/remedico"><img src="http://www.remedicohealth.com/images/email/FB.png" alt="Facebook" style="margin: 0px 5px;"></a>
                    <a href="http://www.twitter.com/remedicohealth"><img src="http://www.remedicohealth.com/images/email/tw.png" alt="Twitter" style="margin: 0px 5px;"></a>
                    <a href="http://www.instagram.com/remedico"><img src="http://www.remedicohealth.com/images/email/insta.png" alt="Instagram" style="margin: 0px 5px;"></a>
                </div>
                <div>
                    <a href="http://www.remedicohealth.com"><img src="http://www.remedicohealth.com/images/email/remedica_logo.png" alt="remedico" style="width: 100px; margin-top: 10px;"></a>
                </div>
                <div style="font-size:12px;display:block; margin-top:10px">
                    <span>

                    <a href="http://www.remedicohealth.com/privacy-policy.html" style="color: gray;">Privacy Policy</a>
                     |
                    <a href="http://www.remedicohealth.com/terms-of-use.html" style="color: gray;">Terms of Use</a>
                     |
                    <a href="http://www.remedicohealth.com/about.html" style="color: gray;">About Us</a>
                  </span>

                </div>

            </div>
        </div>
    </body>
</html>
