<!DOCTYPE html>
<html>
  <body style="text-align: center; font-family: Arial; font-size: 16px; max-width: 600px; margin: auto;">
    <div style="text-align: center">
      <div style="background-color: #17a6b0">
        <img src="http://www.remedicohealth.com/images/email/whitelogo.png" alt="remedico" style="max-height: 30px;max-width: 100%;height: auto;margin: 20px 10px 20px;">

      </div>
      <div style="background: #FFF;padding: 10px 20px 0px;">
        <div style="background-color: #FFF;padding: 20px 0 40px;border-radius: 5px;text-align: left; color: #545454; font-size: 14px;">

          <div style="width: 80%; margin-left: 10%; line-height: 1.5">
          
            <p style="margin-bottom: 20px;"><strong>Dear <%= @user.name %>,</strong></p>
            <p>Thanks for using Remedico!</p>
            <p>We're thrilled that you've chosen us to help you with your skin & hair.</p>
            <p>Our dermatologists are reviewing your case and if everything is in order, you can expect a treatment plan within 24 hours.</p>

            <div style="text-align: justified; width: 100%; margin-left: 0%; border: 1px solid #ddd; border-radius: 5px;line-height: 1.5;">
              <div style="padding: 15px;background-color: #19a4b71c;font-weight: 900;">
                In the meantime, if you have any questions feel free to reach out to us by contacting us at<br> 
                <br>
                <div style="width: 100%;margin-top:8px;">
                  <div style="margin-bottom:4px;">
                    <a href="tel:+918433484696" style="color:#17a6b0;text-decoration: none;"><nobr><img src="https://www.remedicohealth.com/images/fa_whatsapp.png" width="18px;" style="vertical-align: middle;"/>&nbsp;<span style="vertical-align: middle;">+91 8433 848 969</span></nobr></a>
                  </div>
                  <div>
                    <a href="mailto:consult@remedicohealth.com" style="color:#17a6b0;text-decoration: none;"><nobr><img src="https://www.remedicohealth.com/images/email/email_icon_blue.png" width="18px;" style="vertical-align: middle;"/>&nbsp;<span style="vertical-align: middle;">consult@remedicohealth.com</span></nobr></a>
                  </div>
                </div>

              </div>
            </div>

            <p style="margin-top: 20px;">Thanks, <br><strong>Team Remedico</strong></p>
          </div>
          <br>
        </div>
      </div>
      <div style="background-color: #eee; padding: 20px; font-size: 14px;">
        <div style="margin: 5px 0px">
          <a href="http://www.facebook.com/remedico"><img src="http://www.remedicohealth.com/images/email/FB.png" alt="Facebook" style="margin: 0px 5px;"></a>
          <a href="http://www.twitter.com/remedicohealth"><img src="http://www.remedicohealth.com/images/email/tw.png" alt="Twitter" style="margin: 0px 5px;"></a>
          <a href="http://www.instagram.com/remedico"><img src="http://www.remedicohealth.com/images/email/insta.png" alt="Instagram" style="margin: 0px 5px;"></a>
        </div>
        <div>
          <a href="http://www.remedicohealth.com"><img src="http://www.remedicohealth.com/images/email/remedica_logo.png" alt="remedico" style="width: 100px; margin-top: 10px;"></a>
        </div>
        <div style="font-size:12px;display:block; margin-top:10px">
          <span>

          <a href="http://www.remedicohealth.com/privacy-policy.html" style="color: gray;">Privacy Policy</a>
           |
          <a href="http://www.remedicohealth.com/terms-of-use.html" style="color: gray;">Terms of Use</a>
           |
          <a href="http://www.remedicohealth.com/about.html" style="color: gray;">About Us</a>
          </span>

        </div>

      </div>
    </div>
  </body>
</html>
