<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <table style="padding:30px;width: 100%;">
      <tbody>
        <tr>
          <td style="background-color:#0F7277" width="70px" height="70px" align="center">
            
          </td>
          <td style="padding-left: 20px;">
            <table>
              <tr>
                <td>
                  <span style="color:#0F7277; font-size:25px; font-weight:700; font-family: Helvetica, Arial, Verdana, Trebuchet MS">Remedico</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span style="color:#888; font-size:14px; text-transform:uppercase; font-weight:300; font-family: Helvetica, Arial, Verdana, Trebuchet MS">Selfie checkup stats</span>
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr>
          <td colspan="3"  style="padding: 24px 24px 10px 0;">
            <div style="border-top:1px solid; border-color: #ccc;"></div>
          </td>
        </tr>
      </tbody>
    </table>
    <table style="padding:30px;width: 100%;">
      <tbody>
        <tr>
          <td>
            <div style="display:inline-block;">
              <table>
                <tbody>
                  <tr>
                    <td><span style="font-size:16px; font-weight:700; font-family: Helvetica, Arial, Verdana, Trebuchet MS">Overdue Selfies</span></td>
                  </tr>
                  <tr>
                    <td><span style="font-size:28px; font-weight:700; font-family: Helvetica, Arial, Verdana, Trebuchet MS"><%= @stats[:overdue] %></span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div style="float:left;">
              <table>
                <tbody>
                  <tr>
                    <td><span style="font-size:16px; font-weight:700; font-family: Helvetica, Arial, Verdana, Trebuchet MS">Pending Selfies</span></td>
                    <td><div style="width:15px"></div></td>
                  </tr>
                  <tr>
                    <td><span style="font-size:28px; font-weight:700; font-family: Helvetica, Arial, Verdana, Trebuchet MS"><%= @stats[:pending] %></span></td>
                    <td><div style="width:15px"></div></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        <tr>
          <td  colspan="3" style="padding: 0 24px 0 0;">
            <br/><br/>
            <div style="color:#333; font-size:14px; font-weight:300; font-family: Helvetica, Arial, Verdana, Trebuchet MS">Please visit <a href="https://remedicohealth.com/docsapp">remedicohealth.com/docsapp</a> to diagnose them</div>
          </td>
        </tr>
      </tbody>
    </table>
    <table style="padding:30px;width: 100%;">
      <tbody>
        <tr>
          <td style="padding: 0 24px 0 0;">
            <div style="color:#333; font-size:14px; font-weight:300; font-family: Helvetica, Arial, Verdana, Trebuchet MS">*Overdue selfies are the selfies that are pending for more than 24 hours</div>
          </td>
        </tr>
        <tr>
          <td style="padding: 24px 24px 10px 0;">
            <div style="border-top:1px solid; border-color: #ccc;"></div>
          </td>
        </tr>
        <tr>
          <td style="padding: 0 24px 0 0;">
            <div style="color:#888; font-size:14px; font-weight:300; font-family: Helvetica, Arial, Verdana, Trebuchet MS">Remedico</div>
          </td>
        </tr>
        <tr>
          <td style="padding: 10px 24px 0 0;">
            <div style="border-top:1px solid; border-color: #ccc;"><br></div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
