// Place all the styles related to the Docsapp::Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content_wrapper {
  font-family: ralewayregular;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 100%;
  background-color: #000;

  .swiper-slide {
    overflow: hidden;
    
    .swiper-zoom-container {
      background-color: #000;
    }

    .swiper-text {
      color: #fff;
      padding: 0 10px 10px;
      font-family: 'pt_sansregular';
      
      .swiper-name {
        font-size: 18px;
      }
    }
    
    .empty_space_150 {
      background-color: black;
      height: 150px;
    }
    
  }
  
  .select2-container {
    padding-bottom: 8px;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #0F7277;
    border: 1px solid #5f5ca857;
    border-radius: 4px;
    cursor: default;
    color: white;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    text-transform: capitalize;
    padding: 0 5px;
    font-weight: 500;
    box-shadow: 0 1px 0px 1px #00000026;
  }
}
.btn-circle.btn-xl {
  width: 80px;
  height: 80px;
  padding: 10px 16px;
  font-size: 0.8em;
  line-height: 1.33;
  border-radius: 50px;
  box-shadow: 0px 3px 2px 2px rgba(0, 0, 0, 0.125);
}

.btn-secondary.btn-circle {
  width: 50px !important;
  height: 50px !important;
  font-size: 0.5em;
  color: #dd4b39;
}

.btn-circle {
  .fa {
    font-size: 3em;
    margin-left: -0.1em;
  }  
}

.condition-selector-container {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.condition-selector-wrapper {
  position: fixed;
  bottom: 1px;
  z-index: 9999;
  border: 2px solid #80808047;
  border-radius: 3px;
  margin-bottom: 5px;
  background-color: #f0f8ff9e;
  box-shadow: 0 2px 3px 2px #b6b6b6;
  margin-bottom: 0px;
}

.condition-key-label {
  margin: 0 0 2px;
  color: #666;
  font-size: 1.4rem;
  line-height: 3.4rem;
}

.swiper-pagination {
  color: #666;
  right: 0;
  font-size: 18px;
  position: relative!important;
  margin: 0 0.4rem;
  line-height: 7rem;
}

.flex-box-wrapper {
  display: flex;
  min-width: 0;
}

.flex-0 {
  -webkit-box-flex: 0;
  flex-grow: 0;
}

.flex-1 {
  min-width: 0;
  width: 100%;
  font-size: 1em;
  -webkit-box-flex: 1;
  flex-grow: 1;
  max-width: 100%;
}

.flex-0 button {
  -webkit-appearance: none;
  display: inline-block;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  margin: 0 0.4rem;
  align-items: flex-start;
  text-align: center;
}

button::focus,
button::active,
.swiper-controllers .btn::focus,
.swiper-controllers .btn::active {
  outline: none;
  box-shadow: none;
}

.dropdown-item {
  border-bottom: 1px solid #d4d4d4;
  text-align: left;
}

.dropdown-item:last-child {
  border-bottom: none;
}
.dropdown-item button {
  background-color: #fff;
  border-radius: 0!important;
  margin: 0!important;
}

.dropup .dropdown-menu {
  bottom: initial
}
.swiper-controllers {
  padding: 0!important;
}
.swiper-controllers .btn {
  font-size: 2rem;
  width: 100%;
}

.display-none {
  display: none;
}

.h-100 {
  height: 100%;
}

.green-btn {
  background-color: #00a65a !important;
  color: #fff;
}

.dropdown-menu-custom {
  position: absolute;
  top: auto;
  left: 0;
  bottom: 100%;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 4px;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.secondary-btn {
  background-color: transparent;
  border-right: 1px solid #d0d0d0!important;
}
.secondary-btn:active,
.secondary-btn:focus {
  outline: none;
}