<%= content_for :body_class, "inner_body white_back pad_15" %>
<%= content_for :header_content, "<link rel='manifest' href='/manifest.json'>
  <script src='https://cdn.onesignal.com/sdks/OneSignalSDK.js' async></script>
  <script>
    var OneSignal = window.OneSignal || [];
    OneSignal.push(['init', {
      appId: 'faeb4687-bc7b-49b6-b8f0-93be7a95f6bd',
      autoRegister: false,
      notifyButton: {
        enable: true /* Set to false to hide */
      }
    }]);
  </script>".html_safe %>

<main class="margin_t_15">
  <section class="inner_content">
    <div class="container">
      <div class="row contactpopup_info margin_t_15">
        <div class="col-sm-12 box pad_0 margin_0">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 space_bottom">
              <div class="row margin_25">
                <a href="https://remedicohealth.com"><img src="<%= asset_path('footer_logo_blue1-min.png') %>" alt="Remedico"></a>
              </div>
              <div class="row margin_b_25">
                <div class="col-sm-12 col-md-6 col-md-offset-3">
                  <div class="icon_circle_back_lg green_back">
                    <i class="fa fa-check"></i>
                  </div>
                </div>
              </div>
              <div class="row margin_t_15">
                <p>Thanks! We'll send your diagnosis to your mobile number and email soon.<br><br></p>
              </div>
                <br>
                <p>
                  Follow Remedico to be updated with the latest skin care tips and communication regarding your <strong>free</strong> selfie-consultation.
              </p>
              </div>
              <div class="row margin_t_15">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
                  <div class="row selfie_form_social">
                    <div class="col-md-3 col-sm-3 col-xs-3"><a href="https://www.facebook.com/remedico/" onclick="ga('send', 'event', 'selfie_form', 'ClickFBIcon');window._fbq.push(['track', 'Social Icon Clicked', {'Page URL':'/consult/selfie_form', 'Medium':'FB'}]);mixpanel.track('Social Icon Clicked', { 'Page URL': '/consult/selfie_form', 'Medium':'FB',});"><i class="fa fa-facebook"></i></a></div>
                    <div class="col-md-3 col-sm-3 col-xs-3"><a href="https://www.instagram.com/remedico/" onclick="ga('send', 'event', 'selfie_form', 'ClickIGIcon');window._fbq.push(['track', 'Social Icon Clicked', {'Page URL':'/consult/selfie_form', 'Medium':'IG'}]);mixpanel.track('Social Icon Clicked', { 'Page URL': '/consult/selfie_form', 'Medium':'IG',});"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
                    <div class="col-md-3 col-sm-3 col-xs-3"><a href="https://www.snapchat.com/add/remedico" onclick="ga('send', 'event', 'selfie_form', 'ClickSCIcon');window._fbq.push(['track', 'Social Icon Clicked', {'Page URL':'/consult/selfie_form', 'Medium':'SC'}]);mixpanel.track('Social Icon Clicked', { 'Page URL': '/consult/selfie_form', 'Medium':'SC',});"><i class="fa fa-snapchat" aria-hidden="true"></i></a></div>
                    <div class="col-md-3 col-sm-3 col-xs-3"><a href="https://twitter.com/remedicohealth" onclick="ga('send', 'event', 'selfie_form', 'ClickTWIcon');window._fbq.push(['track', 'Social Icon Clicked', {'Page URL':'/consult/selfie_form', 'Medium':'TW'}]);mixpanel.track('Social Icon Clicked', { 'Page URL': '/consult/selfie_form', 'Medium':'TW',});"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<script>
  window._fbq.push(['track', 'ViewContent',{'Page Name':'Selfie Checkup Thank You'}]);
  mixpanel.track("Page Loaded", {
    "Page Name": "Selfie Checkup Thank You"
  });
</script>
