<div class="container">
  <!-- header logo begin -->
  <div class="row text-center space_top">
    <a href="https://remedicohealth.com">
      <img src="<%= asset_path('footer_logo_blue1-min.png') %>" alt="Remedico">
    </a>
  </div>
  <!-- header logo end -->

  <div class="row text-center margin_t_25">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <div class="row">
        <img src="<%= asset_path('animat-checkmark-color2.gif') %>" style=" width: 99px; filter: invert(1.6); "/>
        <p>Thanks! We'll send your diagnosis to your mobile number soon.<br><br></p> 
        <div class="email-container">
          <p><label>Enter your email for important updates from Remedico</label></p>  
          <!--<form action="#" method="get" style=" border: 1px solid gray; border-radius: 3px; padding-right: 3px; padding-top: 3px; ">-->
            <!--<input type="submit" name="search" value="Submit" style="float: right;border: 1px solid #00000063;background-color: #1ca7b1;padding: 4px;color: white;font-size: 15px;font-weight: 900;box-shadow: 0px 2px 2px 0px #00000042;" />-->
          <div class="space_bottom">
            <button class="input-text-field-btn" id="store_email">Send</button>
            <div class="inline-email-field-wrapper">
            <input type="email" name="email" id="email" placeholder="greatskin@gmail.com"  class="inline-email-field"/>
            </div>
          </div>
          <!--</form>-->
      </div>
        <br>
        <p>
          Follow Remedico to be updated with the latest skin care tips and communication regarding your <strong>free</strong> selfie-consultation.
      </p>
      </div>
      <div class="row space_top space_bottom">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3"><a href="http://bit.ly/2ktwiaF"><i class="fa fa-facebook"></i></a></div>
            <div class="col-md-3 col-sm-3 col-xs-3"><a href="http://bit.ly/2AZAc1x"><i class="fa fa-instagram" aria-hidden="true"></i></a></div>
            <div class="col-md-3 col-sm-3 col-xs-3"><a href="http://bit.ly/2BHcNyK"><i class="fa fa-snapchat" aria-hidden="true"></i></a></div>
            <div class="col-md-3 col-sm-3 col-xs-3"><a href="http://bit.ly/2iEbJUK"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
