// Place all the styles related to the payment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require jssocials
//= require jssocials-theme-flat
a:hover {
  text-decoration: none;
}

.paymentProgressImage {
    content:(url("progress_bar_web.png"))
}

@media only screen  and (max-device-width:480px) {
  .paymentProgressImage {
      content:(url("progress_bar_mobile.png"))
  }
}
